/* Footer Start*/

.footer {
    background-color: rgba(0, 0, 0, 0.956);
    width: 100%;
    margin: 0;
    margin-left: -12px;
    margin-bottom: -60px;
    height: 30.2vw;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8px;
    overflow: hidden;
    transition: all 0.5s;
}

.footer-media p {
    color: white;
}

.footerD {
    color: white;
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    justify-content: space-evenly;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    /* padding: 15px; */
}

.footerD div h3 {
    background-color: #ffffff81;
    padding: 10px;
    font-size: 1.2vw;
}

.footerD div p {
    font-size: 1vw;
}
/* Footer End */